%-*-Erlang-*-
{erl_opts, [debug_info]}.

{minimum_otp_vsn, "22.3"}.

{plugins, [pc]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2 -std=gnu99 -Wall -fpic"},
	    {"LDFLAGS", "$LDFLAGS -shared -fpic"}]}.

{port_specs, [{"priv/dhcp_udp_server.so", ["c_src/dhcp_udp_server.c"]}]}.

{provider_hooks,
 [{pre, [{compile, {pc, compile}},
	 {clean, {pc, clean}}]}]
}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
		deprecated_functions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B)", []}]}.
