{plugins, [pc]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2 -std=gnu99 -Wall -fpic"},
            {"LDFLAGS", "$LDFLAGS -shared -fpic"}]}.

{port_specs, [{"priv/dhcp_udp_server.so", ["c_src/dhcp_udp_server.c"]}]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.
